.avatarContainer {
  display: flex;
  justify-content: center;
}

.avatar {
  border-radius: 100%;
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.name {
  font-size: 1.40625rem;
  font-weight: 400;
  line-height: 1.125;
  text-align: center;
}

.desc {
  text-align: center;
  margin-bottom: 15px;
}
