.card {
  background: var(--card-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  margin-top: 20px;
  width: 100%;
}

.title {
  font-weight: 400;
  font-size: 1.40625rem;
  color: var(--title);
  margin-top: 0;
  line-height: 1.125;
  margin-bottom: 15px;
}

.content {
  padding: 1.25rem;
  font-weight: 400;
}

.post_content {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--text);
}

.label {
  color: var(--text-l);
  font-size: 0.8125rem;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.cover {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  position: relative;
}

.footer {
  margin-top: 15px;
  color: var(--text-l);
}
