.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1185px;
  margin: 0px auto;
  gap: 6px;
}

.sidebar {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  height: 30px;
  top: -10px;
}

.sidebar_r {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
  position: sticky;
  height: 30px;
  top: -10px;
}

.main {
  flex: 2;
  padding: 10px;
  box-sizing: border-box;
  max-width: 550px;
}

.random {
  color: var(--text-l);
}

@media screen and (max-width: 1190px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin: 0px auto;
    max-width: 900px;
  }
  .sidebar_r {
    display: none;
  }
}

@media screen and (max-width: 765px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 0px 15px;
    max-width: 700px;
    margin: 10px auto;
  }
  .sidebar {
    flex: 1 0 100%;
  }
}
