.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.25rem;
  height: 54px;
  background: var(--card-bg);
  box-shadow: var(--shadow);
}

.navbar_left .navbar_right {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--title);
  font-size: 18px;
  font-weight: 450;
}

.menu {
  color: var(--text);
  margin: 15px;
}
